<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <header>
    <h1>CodingAnna.xyz:~/blog$</h1>
    <p>A blog for tutorials and Scripts related to my videos</p>
    <nav>
      <a href="/">home</a> | <a href="/about">about</a> | <a href="https://github.com/codingannaofficial/codinganna.xyz">contribute</a>
    </nav>
  </header>
  <main>

	{{ content }}
  </main>
  <footer>
    <p>Contribute on <a href="https://github.com/codingannaofficial/codinganna.xyz">GitHub</a></p>
  </footer>
</body>
</html>
